body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to right top, #6e43fe, #6938f6, #642bee, #601ce5, #5b04dd); */
  height: 100vh;
  background-repeat: no-repeat;
  ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-box {
  padding-top: 30px;
  /* padding-bottom: 40px; */
  padding-left: 30%;
  padding-right: 30%;
}

.nav-login {
  padding-top: 80px;
  list-style-type: none;

}


.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);
}

.logo {
  width: 80%;
}

.botao {
  margin-bottom: 100px;
}

.botao:hover {
  color: white;
}

.m-botton {
  margin-bottom: 100px;
  ;
}

.m-list {
  padding: 10px;
}

p {
  margin: 0;
}

.btnHover:hover {
  color: white;
}

.MuiAppBar-colorPrimary {
  background-color: #d1d1d1 !important;
}

.MTableHeader-header-207 {
  background-color: red !important;

}





/* li:hover{
  color: white
} */

a:hover {
  color: black;
}